extends ../template

block variables
	- var title = 'Заявка'

block content
	.selection
		.selection-header
			h1.selection-header__title Оформите заявку
			.selection-header-items
				a.selection-header-items-circle(href="house-selection.html").ready-stage 1
					span.selection-header-items-circle__text Дом
				<svg xmlns="http://www.w3.org/2000/svg" width="210" height="2" viewBox="0 0 210 2" fill="none" class="ready-stage">
					<rect width="210" height="2" fill="#00B160"/>
				</svg>
				a.selection-header-items-circle.ready-stage(href="village-selection.html") 2
					span.selection-header-items-circle__text Поселок
				<svg xmlns="http://www.w3.org/2000/svg" width="210" height="2" viewBox="0 0 210 2" fill="none" class="ready-stage">
					<rect width="210" height="2" fill="#00B160"/>
				</svg>
				a.selection-header-items-circle.ready-stage(href="plot-selection.html") 3
					span.selection-header-items-circle__text Участок
				<svg xmlns="http://www.w3.org/2000/svg" width="210" height="2" viewBox="0 0 210 2" fill="none" class="ready-stage">
					<rect width="210" height="2" fill="#00B160"/>
				</svg>
				.selection-header-items-circle.ready-stage 4 
					span.selection-header-items-circle__text Заявка
		.selection-requestmain
			.selection-requestmain-house
				.selection-requestmain-house__img
					img(src="assets/images/partners-page-item.jpg", alt="")
				.selection-requestmain-house-info
					.selection-requestmain-house-info__title Таунхаус 150.35 кв.м.
					.selection-requestmain-house-info-row
						span.selection-requestmain-house-info__price 7 765 000 руб.
						span.selection-requestmain-house-info__square
							<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
								<path d="M0.522415 4.53359C0.810997 4.53359 1.04483 4.29969 1.04483 4.01117V1.78373L4.40953 5.14774C4.51158 5.24971 4.64525 5.3007 4.77891 5.3007C4.91265 5.3007 5.04639 5.24971 5.14837 5.14767C5.35239 4.94365 5.35239 4.61286 5.1483 4.4089L1.78346 1.04483H4.01138C4.29989 1.04483 4.5338 0.810928 4.5338 0.522415C4.5338 0.233903 4.29996 0 4.01138 0H0.522415C0.233833 0 0 0.233903 0 0.522415V4.01124C0 4.29969 0.233833 4.53359 0.522415 4.53359Z" fill="#00B160"/>
								<path d="M14.4778 10.4664C14.1892 10.4664 13.9553 10.7003 13.9553 10.9888V13.2163L10.4871 9.74805C10.283 9.54403 9.95225 9.54403 9.74823 9.74805C9.54421 9.95207 9.54421 10.2829 9.74823 10.4868L13.2164 13.955H10.9891C10.7005 13.955 10.4667 14.1889 10.4667 14.4774C10.4667 14.7659 10.7005 14.9998 10.9891 14.9998H14.4778C14.7664 14.9998 15.0002 14.7659 15.0002 14.4774V10.9888C15.0002 10.7003 14.7663 10.4664 14.4778 10.4664Z" fill="#00B160"/>
								<path d="M4.51325 9.74806L1.04532 13.2163V10.9888C1.04532 10.7003 0.811485 10.4664 0.522903 10.4664C0.234321 10.4664 0.000488281 10.7003 0.000488281 10.9888V14.4776C0.000488281 14.7661 0.234321 15 0.522903 15H4.01152C4.30003 15 4.53394 14.7661 4.53394 14.4776C4.53394 14.1891 4.3001 13.9552 4.01152 13.9552H1.78408L5.25208 10.4868C5.4561 10.2828 5.4561 9.95201 5.25201 9.74799C5.04813 9.54404 4.71734 9.54404 4.51325 9.74806Z" fill="#00B160"/>
								<path d="M14.4779 0H10.9892C10.7006 0 10.4668 0.233903 10.4668 0.522415C10.4668 0.810928 10.7006 1.04483 10.9892 1.04483H13.2167L9.85247 4.40925C9.64845 4.61327 9.64845 4.94407 9.85254 5.14809C9.95451 5.25006 10.0883 5.30105 10.2219 5.30105C10.3556 5.30105 10.4893 5.24999 10.5914 5.14802L13.9556 1.78359V4.01117C13.9556 4.29969 14.1894 4.53359 14.478 4.53359C14.7666 4.53359 15.0004 4.29969 15.0004 4.01117V0.522415C15.0003 0.233833 14.7664 0 14.4779 0Z" fill="#00B160"/>
							</svg> 150 м2
					.selection-requestmain-house-info__btn Выбранный дом
			<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
				<path d="M13.5 1V13.5M13.5 13.5V26M13.5 13.5H26M13.5 13.5H1" stroke="#00B160" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			.selection-requestmain-village
				.selection-requestmain-village__title Коттеджный поселок <span>Кавголовское озеро</span> <span>Участок № Т,4</span>
				.selection-requestmain-village__img
					img(src="assets/images/village-item1.png", alt="")
				.selection-requestmain-village__square 40.12 соток
				.selection-requestmain-village__price 2 400 000 руб.
			.selection-requestmain-total
				.selection-requestmain-total-row
					span Дом:
					span 7 765 000 рублей
				.selection-requestmain-total-row
					span Участок:
					span 2 400 000 рублей
				<svg xmlns="http://www.w3.org/2000/svg" width="250" height="1" viewBox="0 0 250 1" fill="none">
					<line x1="4.37114e-08" y1="0.5" x2="250" y2="0.500022" stroke="black" stroke-opacity="0.3"/>
				</svg>
				.selection-requestmain-total-row
					span(style="color: #00B160;") Итого:
					span 10 165 000 рублей
				a.selection-requestmain-total__btn(href="request-form.html") Оформить
		a.selection-bottom(href="plot-selection.html")
			<svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" viewBox="0 0 5 9" fill="none">
				<path d="M4.5 0.5L0.5 4.5L4.5 8.5" stroke="black" stroke-opacity="0.65" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			span Назад

