extends ../template

block variables
	- var title = 'Оформление заявки'

block content
	.selection
		.selection-header
			h1.selection-header__title Оформите заявку
			.selection-header-items
				a.selection-header-items-circle(href="house-selection.html").ready-stage 1
					span.selection-header-items-circle__text Дом
				<svg xmlns="http://www.w3.org/2000/svg" width="210" height="2" viewBox="0 0 210 2" fill="none" class="ready-stage">
					<rect width="210" height="2" fill="#00B160"/>
				</svg>
				a.selection-header-items-circle.ready-stage(href="village-selection.html") 2
					span.selection-header-items-circle__text Поселок
				<svg xmlns="http://www.w3.org/2000/svg" width="210" height="2" viewBox="0 0 210 2" fill="none" class="ready-stage">
					<rect width="210" height="2" fill="#00B160"/>
				</svg>
				a.selection-header-items-circle.ready-stage(href="plot-selection.html") 3
					span.selection-header-items-circle__text Участок
				<svg xmlns="http://www.w3.org/2000/svg" width="210" height="2" viewBox="0 0 210 2" fill="none" class="ready-stage">
					<rect width="210" height="2" fill="#00B160"/>
				</svg>
				.selection-header-items-circle.ready-stage 4 
					span.selection-header-items-circle__text Заявка
		form.selection-requestform(action="#")
			.selection-requestform-pair
				label(for="name") Ваше имя
				input(type="text" placeholder="Иванов Иван" name="name" data-required="")
			.selection-requestform-pair
				label(for="tel") Телефон
				input(type="tel" placeholder="+7 (900) 000-00-00" name="tel" data-required="")
			.selection-requestform-pair
				label(for="email") E-mail
				input(type="text" placeholder="abc@ya.ru" name="email")
			button(type='submit') Оформить
		a.selection-bottom(href="request.html")
			<svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" viewBox="0 0 5 9" fill="none">
				<path d="M4.5 0.5L0.5 4.5L4.5 8.5" stroke="black" stroke-opacity="0.65" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			span Назад