::placeholder{
	color: #B9BED1;
}
input.input-err{
	border: 1px solid #FF002A!important;
	box-shadow: 0px 0px 4px rgba(224, 24, 57, 0.25)!important;
}
input.input-border{
	border: 1px solid rgba(0, 0, 0, 0.4)!important;
	box-shadow: none!important;
	color: #000000!important;
}

.mobile-show{
	display: none;
}

.selection{
	font-family: 'Avenir Next Cyr';
	&-header{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 40px;
		border-bottom: 1px solid #EAEAEA;
		position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10;
    top: 0;
		&__title{
			text-align: left;
			margin: 30px 0;
			font-size: 24px;
			font-weight: normal;
		}
		&-items{
			display: flex;
			align-items: center;
			svg.ready-stage rect{
				fill: #004525;
			}
			&-circle{
				position: relative;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #00B160;
				font-weight: 750;
				font-size: 12px;
				line-height: 15px;
				color: #FFFFFF;
				
				&.ready-stage{
					background: #004525;
					span{
						color: #212121;
					}
				}
				span{
					position: absolute;
					bottom: -17px;
					font-weight: 450;
					font-size: 10px;
					color: #9FA3A7;
				}
			}
		}
	}
	&-housemain{
		max-width: 873px;
		margin: 178px auto 0;
		min-height: calc(100vh - 219px);
		&-wrap{
			margin-bottom: 20px;
		}
		&-select{
			display: flex;
			justify-content: center;
			padding-top: 40px;
			padding-bottom: 20px;
			&-wrap{
				display: none;
			}
			&__confirm,
			&__cancel{
				width: 159px;
				height: 40px;
				background: #00B160;
				border-radius: 5px;
				font-weight: 450;
				font-size: 14px;
				color: #FFFFFF;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__cancel{
				background: none;
				color: rgba(0, 0, 0, 0.65);
			}
		}
		&-item{
			display: flex;
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			overflow: hidden;
			transition: 0.3s;
			&__selected{
				display: none;
			}
			&.disabled{
				opacity: 0.5;
				pointer-events: none;
			}
			&-wrap{
				flex: 1;
				padding: 20px;
			}
			&__img{
				width: 257px;
				height: 205px;
				overflow: hidden;
				img{
					height: 100%;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&-top{
				display: flex;
				align-items: flex-end;
				margin-bottom: 40px;
				&__title{
					font-weight: 450;
					font-size: 18px;
					line-height: 22px;
					margin-right: 10px;
				}
				&__status{
					font-size: 14px;
					line-height: 21px;
				}
			}
			&-main{
				display: flex;
				&-left{
					margin-bottom: -20px;
					&-items{
						display: flex;
						flex-wrap: wrap;
						align-items: flex-start;
					}
					&-row{
						display: flex;
						width: 100%;
					}
					&-item{
						width: 50%;
						font-size: 14px;
						line-height: 21px;
						display: flex;
						align-items: center;
						margin-bottom: 20px;
						svg{
							width: 20px;
							margin-right: 5px;
						}
					}
				}
				&-right{
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					&__price{
						font-size: 18px;
					}
					&-wrap{
						width: 159px;
						height: 60px;
					}
					&__btn{
						background: #00B160;
						border-radius: 5px;
						width: 159px;
						height: 40px;
						font-weight: 450;
						font-size: 14px;
						color: #FFFFFF;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 20px;
						cursor: pointer;
						&-wrap{
							display: none;
							.housemain-item-selected__btn{
								background: none;
								cursor: auto;
								color: #000000;
								position: relative;
								&:before{
									content: '';
									position: absolute;
									width: 14px;
									height: 10px;
									left: 5px;
									top: 50%;
									transform: translateY(-50%);
									background: url('../images/icon-check.svg') center no-repeat;
								}
							}
						}
					}
				}
			}
		}
	}
	&-villagemain{
		max-width: 873px;
		margin: 178px auto 0;
		min-height: calc(100vh - 219px);
		&-navigation{
			display: flex;
			margin: 0;
			margin-bottom: 40px;
			justify-content: center;
			&__item{
				margin: 0 15px;
				color: rgba(0, 0, 0, 0.5);
				transition: 0.3s;
				font-size: 14px;
				&.selected{
					color: #000;
				}
			}
		}
		&-tab{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			&-item{
				width: calc(33% - 20px);
				height: 393px;
				margin: 0 10px 20px;
				background: #FFFFFF;
				box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				padding: 20px 0;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				&__title{
					font-size: 18px;
					line-height: 22px;
					span{
						display: block;
					}
				}
				&__img{
					img{
						max-width: 250px;
						width: 100%;
						height: auto;
					}
				}
				&__price{
					font-size: 14px;
					line-height: 21px;
					span{
						display: block;
						font-weight: 450;
						margin-top: 10px;
					}
				}
				&__btn{
					width: 159px;
					height: 40px;
					background: #00B160;
					border-radius: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 450;
					font-size: 14px;
					color: #FFFFFF;
				}
			}
		}
	}
	&-plotmain{
		height: calc(100vh - 219px);
		max-width: 1012px;
		padding: 0 20px;	
		margin: 178px auto 0;
		display: flex;
		justify-content: center;
		&-map{
			height: 100%;
			margin-right: 20px;
			max-width: 678px;
			img{
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-village{
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			width: 280px;
			height: calc(100% - 30px);
			max-height: 450px;
			margin: 0;
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			padding: 20px 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			&__title{
				font-size: 18px;
				line-height: 22px;
				span{
					display: block;
				}
			}
			&__img{
				img{
					max-width: 250px;
					height: auto;
				}
			}
			&__square{
				font-size: 14px;
				line-height: 21px;
			}
			&__price{
				font-size: 14px;
				line-height: 21px;
				font-weight: 450;
			}
			&__btn{
				width: 159px;
				height: 40px;
				background: #00B160;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 450;
				font-size: 14px;
				color: #FFFFFF;
			}
		}
	}
	&-requestmain{
		max-width: 915px;
		margin: 178px auto 0;
		min-height: calc(100vh - 219px);
		display: flex;
		justify-content: space-between;
		> svg{
			height: 370px;
		}
		&-house{
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			width: 280px;
			height: 370px;
			margin: 0;
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			&__img{
				width: 100%;
				height: 200px;
				overflow: hidden;
				img{
					height: auto;
					width: auto;
					max-width: 100%;
					min-height: 100%;
				}
			}
			&-info{
				padding: 20px;
				flex: 1;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				&__title{
					font-weight: 450;
					font-size: 18px;
					line-height: 22px;
					align-self: flex-start;
				}
				&-row{
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
				}
				&__price{
					font-size: 18px;
				}
				&__square{
					display: flex;
					align-items: center;
					svg{
						margin-right: 10px;
					}
				}
				&__btn{
					font-weight: 450;
					font-size: 14px;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						width: 13px;
						height: 9px;
						left: -20px;
						top: 50%;
						transform: translateY(-50%);
						background: url('../images/icon-check.svg');
					}
				}
			}
		}
		&-village{
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			width: 280px;
			height: 370px;
			margin: 0;
			background: #FFFFFF;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			padding: 20px 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			&__title{
				font-size: 18px;
				line-height: 22px;
				span{
					display: block;
				}
			}
			&__img{
				img{
					max-width: 250px;
					height: auto;
				}
			}
			&__square{
				font-size: 14px;
				line-height: 21px;
			}
			&__price{
				font-size: 14px;
				line-height: 21px;
				font-weight: 450;
			}
		}
		&-total{
			width: 250px;
			padding-left: 10px;
			&-row{
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
				font-size: 18px;
				line-height: 22px;
			}
			> svg{
				margin-bottom: 35px;
				width: 100%;
			}
			&__btn{
				width: 100%;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #00B160;
				border-radius: 5px;
				font-weight: 450;
				font-size: 14px;
				color: #FFFFFF;
				margin-top: -15px;
			}
		}
	}
	&-requestform{
		margin: 178px auto 0;
		min-height: calc(100vh - 219px);
		max-width: 378px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-pair{
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 30px;
			input{
				background: #FFFFFF;
				border: 1px solid #ACACAC;
				box-sizing: border-box;
				border-radius: 5px;
				padding-left: 20px;
				font-weight: 300;
				font-size: 16px;
				height: 45px;
			}
			label{
				margin-left: 20px;
				margin-bottom: 7px;
				font-weight: 450;
				font-size: 14px;
				color: #2F2F2F;
			}
		}
		button{
			background: #00B160;
			border-radius: 5px;
			border: none;
			height: 45px;
			width: 100%;
			font-weight: 450;
			font-size: 14px;
			color: #FFFFFF;
			cursor: pointer;
		}
	}
	&-bottom{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 150%;
		color: rgba(0, 0, 0, 0.65);
		svg{
			margin-right: 10px;
		}
	}
}

@include w1024{
	.selection{
		padding: 0 20px;
		&-header{
			left: 0;
			padding-bottom: 45px;
			&__title{
				font-size: 18px;
			}
			&-items{
				svg{
					width: 135px;
				}
			}
		}
		&-housemain{
			&-item{
				&__img{
					width: 228px;
					height: 217px;
				}
				&-top{
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 20px;
					&__title{
						margin-bottom: 25px;
					}
				}
				&-wrap{
					position: relative;
				}
				&-main{
					&-left{
						width: 100%;
						display: flex;
						align-items: flex-start;
						flex-direction: row-reverse;
						margin-bottom: 0;
						margin-top: -40px;
						&-items{
							flex-direction: column;
							width: 50%;
						}
						&-row{
							width: 50%;
							margin-top: 35px;
						}
						&-item{
							width: 100%;
							margin-bottom: 15px;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
					&-right{
						&__price{
							position: absolute;
							white-space: nowrap;
							top: 20px;
							right: 20px;
						}
						&-wrap{
							width: auto;
							height: auto;
						}
						&__btn{
							position: absolute;
							left: 20px;
							bottom: 20px;
							width: 139px;
							height: 35px;
							font-size: 12px;
							&-wrap{
								position: absolute;
								left: 20px;
								bottom: 20px;
								.selection-housemain-item-main-right__btn{
									position: relative;
									left: auto;
									bottom: auto;
								}
							}
						}
					}
				}
			}
			&-select{
				padding-top: 30px;
				padding-bottom: 10px;
				&__confirm, 
				&__cancel{
					width: 139px;
					height: 35px;
					font-size: 12px;
				}
			}
		}
		&-villagemain{
			max-width: 873px;
			margin: 178px auto 0;
			min-height: calc(100vh - 219px);
			&-navigation{
				margin-bottom: 30px;
				&__item{
					font-size: 12px
				}
			}
			&-tab{
				&-item{
					height: 341px;
					justify-content: flex-start;
					&__title{
						font-size: 14px;
						line-height: 21px;
						margin-bottom: 5px;
					}
					&__price{
						font-size: 12px;
						line-height: 18px;
						margin-top: auto;
						margin-bottom: 20px;
					}
					&__btn{
						width: 131px;
						height: 34px;
						font-size: 12px;
					}
					&__img{
						img{
							max-width: 100%;
							width: auto;
							height: auto;
							max-height: 143px;
						}
					}
				}
			}
		}
		&-plotmain{
			padding: 0;
			&-village{
				flex: 0 0 230px;
				height: 341px;
				&__title{
					font-size: 14px;
					line-height: 21px;
				}
				&__img{
					img{
						max-width: 100%;
						width: auto;
						height: auto;
						max-height: 143px;
					}
				}
				&__square{
					font-size: 12px;
					line-height: 18px;
				}
				&__price{
					font-size: 12px;
					line-height: 18px;
				}
				&__btn{
					width: 131px;
					height: 33px;
					font-size: 12px;
				}
			}
		}
		&-requestmain{
			&-house{
				width: 229px;
				height: 284px;
				&-info{
					padding: 18px 10px;
					&-row{
						flex-direction: column;
						align-items: flex-start;
						justify-content: space-between;
						font-size: 14px;
					}
					&__btn{
						display: none;
					}
					&__price{
						margin-bottom: 15px;
						font-size: 14px;
					}
				}
				&__img{
					height: 157px;
				}
			}
			&-village{
				padding: 18px 10px;
				width: 229px;
				height: 284px;
				&__title{
					font-size: 14px;
					line-height: 21px;
				}
				&__img{
					img{
						max-width: 100%;
						width: auto;
						height: auto;
						max-height: 120px;
					}
				}
				&__square,
				&__price{
					font-size: 12px;
					line-height: 18px;
				}
			}
			> svg{
				height: 284px;
				width: 10px;
			}
			&-total{
				width: 230px;
				&-row{
					margin-bottom: 25px;
					font-size: 14px;
				}
				> svg{
					margin-bottom: 25px;
				}
				&__btn{
					height: 35px;
					font-size: 12px;
					margin-top: -5px;
				}
			}
		}
	}
}

@include w480{
	.mobile-show{
		display: block;
	}
	.mobile-hidden{
		display: none;
	}
	.selection{
		padding: 0 10px;
		&-header{
			padding-bottom: 35px;
			&__title{
				margin: 20px 0;
			}
			&-items{
				svg{
					width: 61px;
				}
			}
		}
		&-housemain{
			margin: 148px auto 0;
			&-item{
				flex-direction: column;
				width: 300px;
				margin: 0 auto;
				position: relative;
				&__selected{
					display: none;
					position: absolute;
					top: 10px;
					left: 20px;
					z-index: 2;
					width: 143px;
					height: 29px;
					background: #FFFFFF;
					border-radius: 30px;
					font-size: 12px;
					justify-content: center;
					align-items: center;
					padding-left: 20px;
					&:before{
						content: '';
						position: absolute;
						width: 14px;
						height: 10px;
						left: 13px;
						top: 50%;
						transform: translateY(-50%);
						background: url('../images/icon-check.svg') center no-repeat;
					}
				}
				&-wrap{
					padding: 0;
				}
				&__img{
					height: 209px;
					width: 100%;
					img{
						height: auto;
						width: auto;
						max-width: 100%;
						min-height: 100%;
					}
				}
				&-top{
					padding: 20px;
					margin: 0;
					position: relative;
					&:before{
						content: '';
						width: 50px;
						height: 50px;
						background: url('../images/slideDown-arr.svg') center no-repeat;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						transition: 0.3s;
					}
					&.out{
						&:before{
							transform: translateY(-50%) rotate(180deg);
						}
					}
					&__price{
						font-size: 18px;
					}
					&__title{
						margin-bottom: 15px;
					}
				}
				&-main{
					flex-direction: column;
					border-top: 1px solid #EAEAEA;
					padding: 20px;
					display: none;
					&-left{
						flex-direction: column-reverse;
						margin-top: 0;
						&-items{
							width: 100%;
						}
						&-row{
							margin-top: 25px;
							margin-bottom: 25px;
							width: 100%;
						}
					}
				}
			}
			&-select{
				padding-top: 20px;
				padding-bottom: 0px;
			}
		}
		&-villagemain{
			margin: 148px auto 0;
			min-height: calc(100vh - 189px);
			&-navigation{
				&__item{
					text-align: center;
					display: inline-block;
				}
			}
			&-tab{
				flex-direction: column;
				align-items: center;
				&-item{
					width: 300px;
    			padding-right: 10px;
					height: auto;
					flex: 0 0 209px;
					padding-left: 140px;
					position: relative;
					align-items: flex-start;
					margin-bottom: 25px;
					&__price{
						text-align: left;
					}
					&__img{
						position: absolute;
						left: 10px;
						width: 120px;
						height: 120px;
					}
					&__title{
						text-align: left;
					}
					&__btn{
						width: calc(100% + 130px);
						margin-left: -130px;
					}
				}
			}
		}
		&-plotmain{
			margin: 148px auto 0;
			min-height: calc(100vh - 189px);
			height: auto;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			&-map{
				margin-bottom: 30px;
				margin-right: 0;
				width: 300px;
			}
			&-village{
				width: 300px;
				flex: 0 0 209px;
				padding-left: 140px;
				position: relative;
				align-items: flex-start;
				margin-bottom: 25px;
				&__img{
					position: absolute;
					left: 10px;
					width: 120px;
					height: 120px;
				}
				&__title{
					text-align: left;
				}
				&__btn{
					width: calc(100% + 120px);
					margin-left: -130px;
				}
			}
		}
		&-requestmain{
			margin: 148px auto 0;
			min-height: calc(100vh - 189px);
			flex-direction: column;
			align-items: center;
			&-house{
				width: 300px;
			}
			> svg{
				height: auto;
				width: 20px;
				margin: 10px 0;
			}
			&-village{
				width: 300px;
				height: 154px;
				padding-left: 140px;
				position: relative;
				align-items: flex-start;
				margin-bottom: 25px;
				&__img{
					position: absolute;
					left: 10px;
				}
				&__title{
					text-align: left;
				}
			}
			&-total{
				padding-left: 0;
				width: 300px;
				margin-bottom: 20px;
				> svg{
					width: 100%;
				}
				&-row{
					justify-content: flex-start;
					span{
						width: 50%;
					}
				}
			}
		}
	}
}