@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Regular.eot');
	src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
	url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Medium.eot');
	src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
	url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 450;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Bold.eot');
	src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
	url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: 750;
	font-style: normal;
}